@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}

input {
    color: black;
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 m-2 [&_*]:rounded-3xl [&_*]:hover:rounded-2xl [&_*]:transition-all [&_*]:ease-linear [&_*]:duration-150 [&_*]:cursor-pointer;
    }
}